<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>👨‍💻 Goran Alković</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>


<header>
    <div class="collapse bg-light" id="navbarHeader">
        <div class="navbar sticky-top navbar-light bg-light shadow-md">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                         viewBox="0 0 255.13 214.52">
                        <defs>
                            <style>.e4eb046b-3425-4e85-b7fb-e85b44d66384 {
                                fill: url(#af10c495-b96d-4347-bfb2-85631b37a2ac);
                            }

                            .b61395b9-c890-439f-8fed-27c3ea2cdbe2 {
                                fill: url(#ef35ca7a-dfba-4b95-98b8-84a6b236a8a7);
                            }

                            .a6b339ae-91f8-4495-a481-a4d0f44ed6e0 {
                                fill: url(#f01469ff-195d-4392-a5a1-596bf95fbb10);
                            }

                            .ab24d9fd-e005-4c62-b631-3ecde4e2d34a {
                                fill: url(#feb98d78-dd84-4f95-93f7-0ad9f209a8ac);
                            }</style>
                            <linearGradient id="af10c495-b96d-4347-bfb2-85631b37a2ac" x1="225.2" y1="157.44" x2="207.2"
                                            y2="103.44" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#1a237e"/>
                                <stop offset="1" stop-color="#0d47a1"/>
                            </linearGradient>
                            <linearGradient id="ef35ca7a-dfba-4b95-98b8-84a6b236a8a7" x1="221.12" y1="78.2" x2="198.62"
                                            y2="153.7" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#2962ff"/>
                                <stop offset="1" stop-color="#304ffe"/>
                            </linearGradient>
                            <linearGradient id="f01469ff-195d-4392-a5a1-596bf95fbb10" x1="41.36" y1="106.3" x2="133.66"
                                            y2="106.3" xlink:href="#af10c495-b96d-4347-bfb2-85631b37a2ac"/>
                            <linearGradient id="feb98d78-dd84-4f95-93f7-0ad9f209a8ac" x1="54.7" y1="82.86" x2="71.7"
                                            y2="156.86" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#2979ff"/>
                                <stop offset="1" stop-color="#304ffe"/>
                            </linearGradient>
                        </defs>
                        <title>Logo</title>
                        <g id="b3c55e41-3855-4329-b9df-047a9f6ef948" data-name="Layer 2">
                            <g id="a8bd4bd1-2199-46f4-838c-84e77f30ebef" data-name="Layer 1">
                                <path class="e4eb046b-3425-4e85-b7fb-e85b44d66384"
                                      d="M222,98.54C217,59.13,210.24,23,202.48,11.23c0,0,7-9.08,22.7-5.71,6.89,9.81,17.14,57.57,23.88,103.86,6.88,47.9,8.06,81.88,2.78,102.68-4.83-3.37-12.3-4.69-16.84-3.66l-4.25-4.84c-.73-20.65-2.93-52.88-6.45-85.25-18.31.44-55.22,7.18-60.64,9.67,0,0,1.61-15.68,5.71-25,10.55-3.81,30.91-6.3,47.17-7.91Z"/>
                                <path class="b61395b9-c890-439f-8fed-27c3ea2cdbe2"
                                      d="M130.11,212.06S138.32,43.9,188.41,7c10-7.47,25.79-7.91,36.77-1.46C171.42,19,158.09,166.8,154,212.06Zm115.43-86.13c-3.66,37.06-2,70,6.3,86.13-7.62,1.61-19.63,2.2-21.82-1.76-9.38-19.63-7.62-75.58-6.16-86.72,1.61-12.3-1.32-25-9.23-28.41C239.83,94.29,246.86,111.87,245.54,125.93Z"/>
                                <path class="a6b339ae-91f8-4495-a481-a4d0f44ed6e0"
                                      d="M118.68,3a79.16,79.16,0,0,1-10.11,24.9c-19.63-2.34-45,0-66.95,9.23-2.49,1,13-31.35,24.17-34.13C83.52-1.37,105.2-.63,118.68,3Zm14.94,143.41c-2.79,24-21.1,58.44-48.05,65.62-21.39,2.93-28.71-6.74-27.69-12.74,43.51-14.51,53.18-54.2,54.5-80.57C124.53,115.82,134.35,140.72,133.62,146.44Z"/>
                                <path class="ab24d9fd-e005-4c62-b631-3ecde4e2d34a"
                                      d="M40.75,45.07c-15.68,43.36-18.46,104.59,1.9,136.38,9.52,15.08,23.58,25.92,42.92,30.61-49.8,12.6-93.9-22.7-84.23-115.72C5.44,57.81,16.43,15.77,65.79,3,57.44,7.86,48.07,24.41,40.75,45.07Zm93,101.22c-13-28-47-28.57-65.18-30.18,1.32-8.93,3.66-17.72,8.49-25.92C77.07,90.19,139,88.13,133.76,146.29Z"/>
                            </g>
                        </g>
                    </svg>
                    Goran Alković
                </a>
            </div>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
                        class="card-img-top" text="Thumbnail" %}
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
                        class="card-img-top" text="Thumbnail" %}
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
                        class="card-img-top" text="Thumbnail" %}
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
                        class="card-img-top" text="Thumbnail" %}
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
                        class="card-img-top" text="Thumbnail" %}
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
                        class="card-img-top" text="Thumbnail" %}
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
                        class="card-img-top" text="Thumbnail" %}
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
                        class="card-img-top" text="Thumbnail" %}
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% include icons/placeholder.svg width="100%" height="225" background="#55595c" color="#eceeef"
                        class="card-img-top" text="Thumbnail" %}
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>&copy; Goran Alković, 2018.</p>
    </div>
</footer>

<!--Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>