.jumbotron {
    padding-top: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 0;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.brand-img {
    width: 5rem;
    margin-right: 0.4rem;
}
.card-thumbnail {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}

.card img {
    -ms-interpolation-mode: bicubic;
}