@import url('https://rsms.me/inter/inter.css');
html, body {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html, body {
    font-family: 'Inter var', sans-serif;
  }
}

/* Theming */

:root {
  --background: #fff;
  --background-values: 0, 0%, 100%;
  --link: hsl(269, 100%, 39%);
  --link-visited: hsl(269, 100%, 31%);
  --border-color: #ccc;
  --border-focus-color: hsl(269, 100%, 39%);
  --text-color: #333;
  --text-color-values: 0, 0%, 20%;
  --button-color: #f0f0f0;
  --button-active-color: #ddd;
  --button-disabled-color: #999;
  --input-disabled-text-color: #999;
  --scrollbar-color: rgba(30, 30, 30, 0.4);
  /* --skill-gradient: linear-gradient( to bottom right, hsl(269, 37%, 46%), hsl(269, 37%, 40%)); */
  --skill-gradient: linear-gradient( to bottom right, hsl(269, 0%, 96%), hsl(269, 0%, 90%));
  --shadow-opacity: 0.24;
}

html.dark-theme {
  --background: #242424;
  --background-values: 0, 0%, 14%;
  --link: hsl(269, 48%, 59%);
  --link-visited: hsl(269, 48%, 51%);
  --border-color: #666;
  --border-focus-color: hsl(269, 48%, 59%);
  --text-color: #f5f5f5;
  --text-color-values: 0, 0%, 96%;
  --button-color: #444;
  --button-active-color: #555;
  --button-disabled-color: #363636;
  --input-disabled-text-color: #666;
  --scrollbar-color: rgba(240, 240, 240, 0.4);
  /* --skill-gradient: linear-gradient( to bottom right, hsl(269, 27%, 23%), hsl(269, 27%, 18%)); */
  --skill-gradient: linear-gradient( to bottom right, hsl(269, 0%, 19%), hsl(269, 0%, 16%));
  --shadow-opacity: 0.1;
}

/* General variables */

:root {
  --card-gap: 0.5rem;
  --card-padding: 1rem;
  --card-border: 1px solid var(--border-color);
  --card-width: 14rem;
  --card-height: 14rem;
  --card-height-mobile: 18rem;
  --transition: all 0.3s ease;
  --transition-quick: all 0.2s ease-out;
  --border-radius: 6px;
}

/* Other CSS */

* {
  user-select: none;
  box-sizing: border-box;
}

html, body {
  /* position: relative; */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  box-sizing: border-box;
  background-color: var(--background);
  scroll-behavior: smooth;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:not(.link-btn):hover {
  text-decoration: underline;
}

a:not(.link-btn):visited {
  color: var(--link-visited);
}

label {
  display: block;
}

input, button, select, textarea, .link-btn {
  font-family: inherit;
  font-size: inherit;
  padding: 0.6rem 0.8rem;
  margin: 0 0 0.5em 0;
  /* box-sizing: border-box; */
  border: 1px solid var(--border-color);
  border-radius: 2px;
}

input:disabled, .link-btn:disabled {
  color: var(--input-disabled-text-color);
}

input[type='range'] {
  height: 0;
}

button, .link-btn {
  color: var(--text-color);
  /* background-color: var(--button-color); */
  outline: none;
  border-radius: var(--border-radius);
  /* border: 1px solid hsla(var(--text-color-values), 0.3); */
  border: var(--card-border);
  transition: var(--transition);
  cursor: pointer;
  background-color: transparent;
}

button:not(:disabled):hover, .link-btn:not(:disabled):hover {
  /* border-color: var(--link); */
  /* background: var(--skill-gradient); */
  background-color: var(--border-color);
  color: #fff;
}

button:not(:disabled):hover i, .link-btn:not(:disabled):hover i {
  color: #fff;
}

button:disabled, .link-btn:disabled {
  color: var(--button-disabled-color);
}

button:not(:disabled):active, .link-btn:not(:disabled):active {
  background-color: var(--button-active-color);
}

button:focus, .link-btn:focus {
  border-color: var(--border-focus-color);
}

.link-btn {
  display: block;
}

.link-btn i {
  color: var(--link);
  font-size: 1.25rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  transform: translateY(3px);
  transition: var(--transition-quick);
}

button i {
  color: var(--link);
  transform: translateY(2px);
  transition: var(--transition-quick);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  /* width: 100vw; */
  /* padding: 2rem 0; */
  min-height: 80vh;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 2rem auto 1rem auto;
  max-width: 17ch;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.1rem;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  margin: 2rem auto;
  font-size: 2.8rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: -1px;
}

@media screen and (max-width: 944px) {
  main {
    padding: 0;
  }
  h1 {
    font-size: 3rem;
    max-width: 80vw;
    line-height: 3.5rem;
  }
}