/* Theming */

:root {
  --background: #fff;
  --background-values: 0, 0%, 100%;
  --link: hsl(269, 100%, 39%);
  --link-visited: hsl(269, 100%, 31%);
  --border-focus-color: hsl(269, 100%, 39%);
  --text-color: #333;
  --text-color-values: 0, 0%, 20%;
  --button-active-color: #eee;
  --button-disabled-color: #999;
  --input-disabled-text-color: #999;
  --scrollbar-color: rgba(30, 30, 30, 0.4);
  --shadow-opacity: 0.24;
}

html.dark-theme {
  --background: #242424;
  --background-values: 0, 0%, 14%;
  --link: hsl(269, 48%, 59%);
  --link-visited: hsl(269, 48%, 51%);
  --border-focus-color: hsl(269, 48%, 59%);
  --text-color: #f5f5f5;
  --text-color-values: 0, 0%, 96%;
  --button-color: #444;
  --button-active-color: #555;
  --button-disabled-color: #363636;
  --button-hover-color: #666;
  --input-disabled-text-color: #666;
  --scrollbar-color: rgba(240, 240, 240, 0.4);
  --shadow-opacity: 0.1;
}

/* General variables */

:root {
  --card-gap: 0.5rem;
  --card-padding: 1rem;
  --card-border: 1px solid var(--border-color);
  --card-width: 14rem;
  --card-height: 14rem;
  --card-height-mobile: 18rem;
  --transition: all 0.3s ease-out;
  --transition-quick: all 0.2s ease-out;
  --border-radius: 6px;
  --button-height: 3rem;
  --skill-gradient: linear-gradient(to bottom right, hsla(var(--text-color-values), 0.02), hsla(var(--text-color-values), 0.06));
  --button-color: linear-gradient(to bottom, hsla(var(--text-color-values), 0.05), hsla(var(--text-color-values), 0.08));
  --button-hover-color: linear-gradient(to bottom, hsla(var(--text-color-values), 0.34), hsla(var(--text-color-values), 0.39));
  --border-color: hsla(var(--text-color-values), 0.08);
  --border-hover-color: hsla(var(--text-color-values), 0.2);
}

/* Other CSS */

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  user-select: none;
}

body {
  color: var(--text-color);
  box-sizing: border-box;
  background-color: var(--background);
  scroll-behavior: smooth;
}

a:not(.link-btn) {
  color: var(--link);
  text-decoration: none;
}

a:not(.link-btn):hover {
  text-decoration: none;
}

a:not(.link-btn):visited {
  color: var(--link-visited);
}

button, .link-btn {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease, color 0.18s ease, width 0.3s ease-out, height 0.3s ease-out, border 0.2s ease;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  height: var(--button-height);
  min-width: var(--button-height);
  padding: 0 1rem;
  margin: 0 0 0.5em 0;
  background: var(--button-color);
  color: var(--text-color);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

button:not(:disabled):hover, .link-btn:not(:disabled):hover {
  background: var(--button-hover-color);
  color: #fff;
}

button:not(:disabled):hover svg, .link-btn:not(:disabled):hover svg {
  fill: #fff;
}

button:disabled, .link-btn:disabled {
  color: var(--button-disabled-color);
}

button:not(:disabled):active, .link-btn:not(:disabled):active {
  background-color: var(--button-active-color);
}

button:focus, .link-btn:focus {
  border-color: var(--border-focus-color);
}

button svg, .link-btn svg {
  fill: var(--link);
  font-size: 1.25rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  /* transition: var(--transition); */
  transition: fill 0.18s ease;
  margin-right: 6px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  /* width: 100vw; */
  /* padding: 2rem 0; */
  min-height: 80vh;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 2rem auto 1rem auto;
  max-width: 17ch;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.1rem;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  margin: 2rem auto;
  font-size: 2.8rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: -1px;
}

@media screen and (max-width: 944px) {
  main {
    padding: 0;
  }
  h1 {
    font-size: 3rem;
    max-width: 80vw;
    line-height: 3.5rem;
  }
}