@import url('https://rsms.me/inter/inter.css');
html, body {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html, body {
        font-family: 'Inter var', sans-serif;
    }
}

a:not(.link-btn) {
    color: var(--link);
    text-decoration: none;
}

a:not(.link-btn):hover {
    text-decoration: none;
}

a:not(.link-btn):visited {
    color: var(--link-visited);
}

button, .link-btn {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease, color 0.18s ease, width 0.3s ease-out, height 0.3s ease-out, border 0.2s ease;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    height: var(--button-height);
    min-width: var(--button-height);
    padding: 0 1rem;
    margin: 0 0 0.5em 0;
    background: var(--button-color);
    color: var(--text-color);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

button:not(:disabled):hover, .link-btn:not(:disabled):hover {
    background: var(--button-hover-color);
    color: #fff;
}

button:not(:disabled):hover svg, .link-btn:not(:disabled):hover svg {
    fill: #fff;
}

button:disabled, .link-btn:disabled {
    color: var(--button-disabled-color);
}

button:not(:disabled):active, .link-btn:not(:disabled):active {
    background-color: var(--button-active-color);
}

button:focus, .link-btn:focus {
    border-color: var(--border-focus-color);
}

button svg, .link-btn svg {
    fill: var(--link);
    font-size: 1.25rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
    /* transition: var(--transition); */
    transition: fill 0.18s ease;
    margin-right: 6px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 2rem auto;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: -1px;
}

@media screen and (max-width: 944px) {
    main {
        padding: 0;
    }
    h1 {
        font-size: 3rem;
        max-width: 80vw;
        line-height: 3.5rem;
    }
}